@model Category 
<!--what it means?-->

<!--model is populated with specific controller of the view-->
<!--model is used to pass data from controller to view and vice versa(post method)-->
<!--if model is not specified then it will be object by default-->







<!--create a form to submit data to the controller-->


<form method="post">
    <div class="border p-4 mb-4">
        <h2>Create category</h2>
        
        <!--create a div for ID-->
        
   
   
        <div class="p-2">
            <label asp-for="Name"></label><!--asp-for is used to bind the label with the model property-->
            <input asp-for="Name" class="form-control" /> <!--asp-for is used to bind the input with the model property-->
            <!--input type is controlled by the model property type-->
            <!--show the error message if there is any-->
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
        <div class="p-2">
            <label asp-for="DisplayOrder"></label> 
            <input  asp-for="DisplayOrder" class="form-control" />
            <!--input type is controlled by the model property type-->
            <!--show the error message if there is any-->
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        
        <div class="p-2">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Back to list</a>
        </div>
            
        
    </div>


</form>
<!--what will be posted?-->
<!--the model class object will be posted to the controller because of first line  -->


@*creating client side validation*@
@section Scripts{
    @*contains the script for client side validation*@
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} <!--this will render the validation script-->
}
